@model VehicleRegister.Model.Manufacturer
@{
    ViewData["Title"] = "CreateManufacturer";
}

<h3 class="titleMargin">Create Manufacturer</h3>

@using (Html.BeginForm("Create", "Manufacturer", FormMethod.Post))
{
    @Html.LabelFor(m => m.Name)
    @Html.TextBoxFor(m => m.Name)

    <input class="waves-effect waves-light btn-large blue submitButton" type="submit" value="Submit" />
}