@model VehicleRegister.ViewModel.ManufacturerView
@{
    ViewData["Title"] = "UpdateManufacturer";
}

<h1>Update Manufacturer</h1>
@using(Html.BeginForm("UpdateManufacturer", "Manufacturer", FormMethod.Post))
{
    @Html.HiddenFor(m => m.Id)
    @Html.LabelFor(m => m.name)
    @Html.TextBoxFor(m => m.name)

    <input type="submit" value="Submit" />
}
