@model VehicleRegister.ViewModel.ManufacturerView
@{
    ViewData["Title"] = "UpdateManufacturer";
}

<h3 class="titleMargin">Update Manufacturer</h3>
@using(Html.BeginForm("UpdateManufacturer", "Manufacturer", FormMethod.Post))
{
    @Html.HiddenFor(m => m.Id)
    @Html.LabelFor(m => m.name)
    @Html.TextBoxFor(m => m.name)

    <input class="waves-effect waves-light btn-large blue submitButton" type="submit" value="Submit" />
}
